<div class="index-padding container text-center my-auto">
    <h1 class="mb-1">BualaTok</h1>
    <h3 class="mb-5">
        <em>La web para comprar y cambiar lo que te sobra</em>
    </h3>

    <!-- HAY QUE HACER UN IF PARA QUE SOLO MUESTRE LOS BOTONES SI NO ESTA LOGEADO -->
    {{#if logeado}}
    {{else}}
    <a class="btn btn-primary btn-lg" href="/login">
        Iniciar sesión
    </a>
        <a class="btn btn-primary btn-lg" href="/registro">
        Registrarse
    </a>
    {{/if}}
</div>