.index-padding{
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-padding{
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 15px;
  color: #ffffff;
}

.card-margin{
  margin: 50px;
}

.button-margin{
  margin-top: 50px;
}

.button-size{
  width: 25%;
}
.buscador{
  border-radius: 20%;
}

.border-padding{
  padding: 10px;
}

input[type=radio] {
  width: 25px;
  height: 25px;
  margin: 50%; 
}

.title-padding{
  padding-bottom: 50px;
}

