<div class="card-margin card col-11 col-sm-10 col-md-9 col-lg-7 mx-auto p-5">
    <div class="card-title mx-auto titulo-perfil">
        <h2 class="text-center"><i class="fa fa-shopping-bag fa-sm"> Registro de Producto</i></h2>
    </div>
    <hr>
    <form id="formulario-registrar-producto" action="/registrarProducto" method="POST" enctype="multipart/form-data"
        class="needs-validation form-perfil" novalidate>
        <div class="form-group row">
            <label for="nombre-registrar-producto" class="col-sm-2">Nombre del Producto:</label>
            <input id="nombre-registrar-producto" type="text" name="nombre" class="form-control col-sm-10"
                maxlength="40" required>
            <div class="invalid-feedback required-msg">Campo obligatorio</div>
        </div>
        <div class="form-group row">
            <label for="precio-registrar-producto" class="col-sm-2">Precio:</label>
            <input id="precio-registrar-producto" type="number" name="precio" class="form-control col-sm-4" min="0"
                required>
            <label for="categoria-registrar-producto" class="col-sm-2">Categoria:</label>
            <select id="categoria-registrar-producto" name="categoria" class="form-control col-sm-4" required>
                <option value="Ropa">Ropa</option>
                <option value="Tecnologia">Tecnología</option>
                <option value="Deportes">Deportes</option>
                <option value="Juegos">Juegos</option>
                <option value="Otros">Otros</option>
            </select>
            <div class="invalid-feedback required-msg">Seleccione una categoría</div>
        </div>
        <div class="form-group row">
            <label for="estado-registrar-producto" class="col-sm-2">Estado:</label>
            <select id="estado-registrar-producto" name="estado" class="form-control col-sm-4" required>
                <option value="Nuevo">Nuevo</option>
                <option value="PocoUso">Poco uso</option>
                <option value="Bueno">Bueno</option>
                <option value="Decente">Decente</option>
                <option value="Malo">Malo</option>
            </select>
            <label for="fecha-registrar-producto" class="col-sm-2">Fecha:</label>
            <input id="fecha-registrar-producto" type="date" name="fecha" class="form-control col-sm-4" required>
            <div class="invalid-feedback required-msg">Campo obligatorio</div>
        </div>
        <div class="form-group row">
            <label for="descripcion-registrar-producto" class="col-sm-3">Descripción:</label>
            <textarea id="descripcion-registrar-producto" name="descripcion" rows="2" required
                class="form-control col-md-10 ml-auto" style="width: 30px;"></textarea>
            <div class="invalid-feedback required-msg">Campo obligatorio</div>
        </div>
        <div class="form-group row">
            <label for="imagen-registrar-producto" class="col-sm-2">Imagen:</label>
            <input id="imagen-registrar-producto" type="file" name="imagen" class="form-control-file col-sm-8" required>
            <div class="invalid-feedback required-msg">Campo obligatorio</div>
        </div>
        <div class="form-group text-center button-margin">
            <button id="boton-registrar-producto" type="submit" class="btn btn-success">Registrar
                Producto</button>
        </div>
    </form>
</div>